<html ng-app="ionicApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>Sign-in, Then Tabs Example</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>


    <script src="js/app.js"></script>
    <script src="js/controller.js"></script>
</head>

<body>
<style>
    .item
    {
        border-color: #ffffff;
    }
    .inputBox
    {
        border:1px solid #ddd !important;
        padding:4px !important;
        width:90%;
    }
    .buttonSign
    {

        margin:0 auto;

    }
    form i.icon.error {
        color: $assertive;
    }

    form input + i.icon.error {
        display: none;
        margin-left: 8px;
    }

    form.ng-submitted input.ng-invalid + i.icon.error {
        display: block;
    }

    form .has-error {
        border-left: 5px solid red;
    }

    form .has-success {
        border-left: 5px solid darkgreen;
    }

    form.ng-submitted input.ng-valid + i.icon.error {
        display: none;
    }
</style>
<!--<ion-nav-bar class="bar-positive nav-title-slide-ios7">
    <ion-nav-back-button class="button-icon ion-arrow-left-c">
    </ion-nav-back-button>
</ion-nav-bar>-->

<ion-nav-view animation="slide-left-right"></ion-nav-view>


<script id="templates/sign-in.html" type="text/ng-template">
    <ion-view>
        <ion-content>
            <form novalidate="novalidate" on-valid-submit="doLogin()">
            <div class="list" style="margin-top: 4%">
            <label class="item item-input item-stacked-label validated">
                <span class="input-label">Company Name </span>
                <input type="text" placeholder="Company Name" class="inputBox" data-ng-model="user.company" required="required">
                <i class="icon ion-alert-circled error"></i>
            </label>

            <label class="item item-input item-stacked-label validated">
                <span class="input-label">Email</span>
                <input type="email" placeholder="Email Id" class="inputBox" data-ng-model="user.email" required="required">
                <i class="icon ion-alert-circled error"></i>
            </label>
                <label class="item item-input item-stacked-label validated">
                    <span class="input-label">Phone Number</span>
                    <input type="text" placeholder="Phone Number" class="inputBox" data-ng-model="user.phone" required="required">
                    <i class="icon ion-alert-circled error"></i>
                </label>

                <label class="item item-input item-stacked-label validated">
                    <span class="input-label">About Yours</span>
                    <input type="text" placeholder="About Yours" class="inputBox" data-ng-model="user.about" required="required">
                    <i class="icon ion-alert-circled error"></i>
                </label>

        </div>

            <div class="padding" style="width: 85%;">
                <button type="Submit" class=" button  button-block button-positive"  style="left:4%;" >
                    Enter
                </button>

               <!-- <button type="Submit" class=" button  button-block button-positive" ng-click="signIn(user)" style="left:4%;" >
                Enter
            </button>-->

            </div>
</form>
        </ion-content>
    </ion-view>
</script>

<script id="templates/forgot-password.html" type="text/ng-template">

    <ion-view title="Forgot Password">
        <ion-content padding="true">
            <p>
                Yeah this is just a demo showing how views can be shown without tabs, then you can navigate
                to views within tabs. Additionally, only one set of tabs needs to be written for all of the different views that should go inside the tabs. (Compared to written the same tab links in the footer of every view that's in a tab.)
            </p>
            <p>
                There's no username/password, just click
                the Sign-In button back a the sign-in view.
            </p>
            <p>
                Return to <a href="#/sign-in">Sign-In</a>.
            </p>
        </ion-content>
    </ion-view>
</script>

<script id="templates/tabs.html" type="text/ng-template">
    <ion-view>
        <ion-tabs class="tabs-icon-top tabs-positive">

            <ion-tab title="Home" icon="ion-home" href="#/tab/home">
                <ion-nav-view name="home-tab"></ion-nav-view>
            </ion-tab>

           <!-- <ion-tab title="About" icon="ion-ios7-information" href="#/tab/about">
                <ion-nav-view name="about-tab"></ion-nav-view>
            </ion-tab>-->

            <ion-tab title="Sign-Out" icon="ion-log-out" href="#/sign-in">
            </ion-tab>

        </ion-tabs>
    </ion-view>
</script>

<script id="templates/home.html" type="text/ng-template">
    <ion-header-bar class="bar-positive">
        <h1 class="title">List</h1>
    </ion-header-bar>
    <ion-view title="Home">
        <ion-content padding="true">

            <div class="list">

                <a ng-repeat="item in items"
                   href="#/{{item.id}}"
                   class="item item-thumbnail-right" style="border: 2px solid #ddd;">


                    <h2>{{ item.companyName }}</h2>
                    <h4>{{ item.emailId }}</h4>
                    <h4>{{item.phoneNumber}}</h4>
                    <h4>{{item.aboutYour}}</h4>
                </a>

            </div>
        </ion-content>
    </ion-view>
</script>

<script id="templates/facts.html" type="text/ng-template">
    <ion-view title="Facts">
        <ion-content padding="true">
            <p>Banging your head against a wall uses 150 calories an hour.</p>
            <p>Dogs have four toes on their hind feet, and five on their front feet.</p>
            <p>The ant can lift 50 times its own weight, can pull 30 times its own weight and always falls over on its right side when intoxicated.</p>
            <p>A cockroach will live nine days without it's head, before it starves to death.</p>
            <p>Polar bears are left handed.</p>
            <p>
                <a class="button icon ion-home" href="#/tab/home"> Home</a>
                <a class="button icon icon-right ion-chevron-right" href="#/tab/facts2">More Facts</a>
            </p>
        </ion-content>
    </ion-view>
</script>

<script id="templates/facts2.html" type="text/ng-template">
    <ion-view title="Also Factual">
        <ion-content padding="true">
            <p>111,111,111 x 111,111,111 = 12,345,678,987,654,321</p>
            <p>1 in every 4 Americans has appeared on T.V.</p>
            <p>11% of the world is left-handed.</p>
            <p>1 in 8 Americans has worked at a McDonalds restaurant.</p>
            <p>$283,200 is the absolute highest amount of money you can win on Jeopardy.</p>
            <p>101 Dalmatians, Peter Pan, Lady and the Tramp, and Mulan are the only Disney cartoons where both parents are present and don't die throughout the movie.</p>
            <p>
                <a class="button icon ion-home" href="#/tab/home"> Home</a>
                <a class="button icon ion-chevron-left" href="#/tab/facts"> Scientific Facts</a>
            </p>
        </ion-content>
    </ion-view>
</script>

<!--<script id="templates/about.html" type="text/ng-template">
    <ion-view title="About">
        <ion-content padding="true">
            <h3>Create hybrid mobile apps with the web technologies you love.</h3>
            <p>Free and open source, Ionic offers a library of mobile-optimized HTML, CSS and JS components for building highly interactive apps.</p>
            <p>Built with Sass and optimized for AngularJS.</p>
            <p>
                <a class="button icon icon-right ion-chevron-right" href="#/tab/navstack">Tabs Nav Stack</a>
            </p>
        </ion-content>
    </ion-view>
</script>-->

<script id="templates/nav-stack.html" type="text/ng-template">
    <ion-view title="Tab Nav Stack">
        <ion-content padding="true">
            <p><img src="http://ionicframework.com/img/diagrams/tabs-nav-stack.png" style="width:100%"></p>
        </ion-content>
    </ion-view>
</script>

</body>
</html>